<h1>Server list</h1>
<table width="75%">
  <tr>
    <td>Name</td>
    <td>IP</td>
    <td>Last Check-in</td>
    <td>Uptime</td>
  </tr>

  <% @servers.each do |server| %>
    <tr>
      <td><%= server.name %></td>
      <td><%= server.ip %></td>
      <td><%= server.last_checkin %></td>
      <td><%= server.uptime %></td>
    </tr>
  <% end %>
</table>